################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Expense Tracker/bin/Debug/net9.0
/Expense Tracker/obj
